[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
pylint = "*"
pylint-flask-sqlalchemy = "*"
testcontainers = { extras = ["postgresql", "redis"], version = "*" }
pytest-cov = "*"

[packages]
flask = "*"
requests = "*"
oauthlib = "*"
pyopenssl = "*"
flask-login = "*"
click = "*"
flask-wtf = "*"
psycopg2-binary = "*"
gunicorn = "*"
python-dotenv = "*"
markupsafe = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"
google-auth = "*"
redis = "*"
flask-session = "*"
blinker = "*"
sqlalchemy = "*"
flask-redis = "*"
werkzeug = "*"
alembic = "*"
flask-migrate = "*"
minio = "*"

[requires]
python_version = "3.9"
