[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "*"

[packages]
flask = "*"
requests = "*"
oauthlib = "*"
pyopenssl = "*"
flask-login = "*"
click = "*"
flask-wtf = "*"
psycopg2-binary = "*"
gunicorn = "*"
python-dotenv = "*"
markupsafe = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"

[requires]
python_version = "3.8"
