{% extends "authenticated.html" %}

{% block page %}notifications{% endblock %}

{% block body %}

    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="box">
                    <h2 class="is-size-2 is-bold">Your notifications</h2>
                    <hr>
                    {% for notification in notifications %}
                        <div class="notification-entry px-2 py-1 {% if not notification.read %} unread has-background-warning-light{% endif %}">
                            <a href="{{ url_for('notifications.open_notification', _id=notification.id) }}"
                               class="is-flex is-flex-direction-column">
                                {% if notification.type == "appreciation" %}
                                    <span>{{ notification.object.created_by.name }} appreciated you</span>
                                {% elif notification.type == "comment_on_appreciation_received" %}
                                    <span>{{ notification.object.user.name }} commented on an appreciation you received</span>
                                {% elif notification.type == "comment_on_appreciation_given" %}
                                    <span>{{ notification.object.user.name }} commented on an appreciation you have given</span>
                                {% elif notification.type == "comment_on_appreciation_commented" %}
                                    <span>{{ notification.object.user.name }} also commented on an appreciation you commented</span>
                                {% elif notification.type == "one_on_one_setup" %}
                                    <span>{{ notification.object.created_by.name }} setup an one on one with you</span>
                                {% elif notification.type == "one_on_one_action_item_added" %}
                                    {% if notification.object.created_by_id == current_user.id %}
                                        <span>{{ notification.object.user.name }} added an action item to your one on one</span>
                                    {% else %}
                                        <span>{{ notification.object.created_by.name }} added an action item to your one on one</span>
                                    {% endif %}
                                {% endif %}
                                <span class="help">
                                    <time datetime="{{ notification.created_at | iso_time }}">{{ notification.created_at | humanize_time }}</time>
                                </span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

