{% from "_formhelpers.html" import render_field %}

{% extends "authenticated.html" %}
{% block page %}1-on-1s{% endblock %}

{% block body %}


<div class="container is-flex">
    <div class="menu">
        <p class="menu-label is-flex">
            <span class="is-flex-grow-1">People</span>
            <button title="Schedule new" id="launch-one-on-one-form" class="clear-button">
                <span class="icon">
                    <ion-icon icon="add-circle-outline"></ion-icon>
                </span>
            </button>
        </p>
        <ul class="menu-list">
            {% for o in one_on_ones %}
            <li>
                <a class="is-flex" href="/1-on-1s/{{o.id}}">
                    <figure class="media-left is-flex">
                        <div class="participants-avatar image is-48x48">
                            <img class="is-rounded" src="{{ o.created_by.profile_pic }}">
                        </div>
                        <div class="participants-avatar image is-48x48">
                            <img class="is-rounded" src="{{ o.user.profile_pic }}">
                        </div>
                    </figure>
                    <div class="content">
                        {% if current_user.id == o.created_by.id %}
                        <h3 class="is-size-5 has-font-weight-bold">
                            {{o.user.name}}
                        </h3>
                        <p class="help">{{o.user.designation}}</p>
                        {% else %}
                        <h3 class="is-size-5 has-font-weight-bold">
                            {{o.created_by.name}}
                        </h3>
                        <p class="help">{{o.created_by.designation}}</p>
                        {% endif %}
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container p-6">
        {% if one_on_one %}
        <article class="appreciation media">
            <figure class="media-left is-flex">
                <div class="participants-avatar image is-48x48">
                    <img class="is-rounded" src="{{ one_on_one.created_by.profile_pic }}">
                </div>
                <div class="participants-avatar image is-48x48">
                    <img class="is-rounded" src="{{ one_on_one.user.profile_pic }}">
                </div>
            </figure>
            <div class="media-content">
                <div class="content">
                    <h1 class="title">
                        {% if current_user.id == one_on_one.created_by.id %}
                        <a>Your 1:1 with {{one_on_one.user.name}}</a>
                        {% else %}
                        <a>{{one_on_one.created_by.name}}'s 1:1 with you</a>
                        {% endif %}
                    </h1>
                    <!--                    <div class="mt-2 is-flex">-->
                    <!--                        <span class="is-flex-grow-1">20 October, 2020</span>-->
                    <!--                        <span class="tag is-warning is-uppercase">upcoming</span>-->
                    <!--                    </div>-->
                </div>
            </div>
        </article>
        {% endif %}
    </div>


    <form method="post" class="modal" id="one-on-one-form">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Schedule new one on one</p>
                <button type="reset" class="delete" data-action="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <input name="user" type="text" class="input" placeholder="mention someone by their username">
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" type="submit">Save</button>
                <button class="button" type="reset" data-action="close">Cancel</button>
            </footer>
        </div>
    </form>
    {% endblock %}
