{% from "_formhelpers.html" import render_field %}

{% extends "authenticated.html" %}
{% block page %}1-on-1s{% endblock %}

{% block body %}


<div class="container">
    <div class="box">
        <article class="appreciation media">
            <figure class="media-left is-flex">
                <div class="participants-avatar image is-48x48">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </div>
                <div class="participants-avatar image is-48x48">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </div>
            </figure>
            <div class="media-content">
                <div class="content">
                    <h3 class="is-size-4">
                        <a>1-on-1 </a>
                    </h3>
                    <div class="mt-2 is-flex">
                        <span class="is-flex-grow-1">20 October, 2020</span>
                        <span class="tag is-warning is-uppercase">upcoming</span>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>

{% endblock %}
