{% macro render_field(field) %}
    {% if field.type == "HiddenField" %}
        {{ field(**kwargs) }}
    {% else %}
        <div class="field">
            {% if field.label and kwargs.pop('label', True) %}
                <label for="{{ field.id }}" class="label">{{ field.label }}</label>
            {% endif %}
            <div class="control">
                {{ form_control(field, **kwargs) }}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro form_control(field) %}
    {% if field.errors %}
        {% set marker = 'is-danger' %}
    {% else %}
        {% set marker = '' %}
    {% endif %}
    {% set css_class = 'input ' + marker + ' ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, **kwargs) }}
    {% if field.errors %}
        {% for errorHandler in field.errors %}
            <p class="help">{{ error | e }}</p>
        {% endfor %}
    {% endif %}
{% endmacro %}
