{% from "_formhelpers.html" import render_field %}

{% extends "authenticated.html" %}
{% block page %}home{% endblock %}

{% block body %}

<div class="container">
    <div class="columns">
        <div class="column is-two-thirds">
            <div class="box">
                <form class="note-form block" method="post" action="/appreciate">
                    <div class="field">
                        <label for="note-field" class="is-sr-only">Write a note a @mention to send a note</label>
                        <div class="control">
                <textarea id="note-field" rows="2" class="textarea"
                          name="{{form.content.name}}"
                          placeholder="Write a message that includes @mention"></textarea>
                            <!--                {{ render_field(form.content) }}-->
                        </div>
                    </div>
                    <div class="field mt-2 send-container is-clipped">
                        <div class="control">
                            <button class="button is-primary is-rounded is-medium">
                  <span class="icon">
                    <ion-icon name="paper-plane-outline" size="large"></ion-icon>
                  </span>
                                <span>
                    Hi five!
                  </span>
                            </button>
                        </div>
                    </div>
                </form>
                <hr>
                {% for appreciation in appreciations %}
                <article class="appreciation media">
                    <figure class="media-left is-flex">
                        <div class="participants-avatar image is-48x48">
                            <img class="is-rounded" src="{{ appreciation.creator.profile_pic }}">
                        </div>
                        <div class="participants-avatar image is-48x48">
                            {% set mentions = appreciation.get_mentions() %}
                            {% if mentions %}
                            <img class="is-rounded" src="{{ mentions[0].user.profile_pic }}">
                            {% endif %}
                        </div>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <div>
                                <a href="/profile/{{appreciation.creator.username}}"><strong>{{appreciation.creator.name}}</strong></a>
                                <small>31m</small>
                            </div>
                            <div class="mt-2">
                                {{appreciation.content | add_mentions }}
                            </div>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                {% if appreciation.is_liked_by(user) %}
                                <form class="level-item" method="post" action="/dislike">
                                    <input type="hidden" name="appreciation" value="{{ appreciation.id }}">
                                    <button title="Like" type="submit"
                                            class="post-action-button clear-button has-text-danger level-item is-clickable">
                                          <span class="icon is-medium">
                                            <ion-icon name="heart"></ion-icon>
                                          </span>
                                        <span>
                                            {{appreciation.get_like_count()}}
                                          </span>
                                    </button>
                                </form>
                                {% else %}
                                <form class="level-item" method="post" action="/like">
                                    <input type="hidden" name="appreciation" value="{{ appreciation.id }}">
                                    <button title="Like" type="submit"
                                            class="post-action-button clear-button has-text-danger level-item is-clickable">
                                      <span class="icon is-medium">
                                      <ion-icon name="heart-outline"></ion-icon>
                                      </span>
                                        <span>
                                      {{appreciation.get_like_count()}}
                                      </span>
                                    </button>
                                </form>
                                {% endif %}
                                <button title="Comment"
                                        class="post-action-button clear-button has-text-info level-item is-clickable">
                                      <span class="icon is-medium">
                                        <ion-icon name="chatbubble-outline"></ion-icon>
                                      </span>
                                </button>
                            </div>
                        </nav>
                        <div class="block">
                            <form method="post" action="/comment">
                                <input type="hidden" name="appreciation" value="{{appreciation.id}}">
                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        <textarea name="content" rows="2" class="textarea"></textarea>
                                    </div>
                                    <div class="control">
                                        <button class="button is-primary" type="submit">Comment</button>
                                    </div>
                                </div>
                            </form>
                            {% for comment in appreciation.get_comments() %}
                            <div class="comment">
                                <div><strong><a>{{comment.user.name}}</a></strong></div>
                                <p>{{comment.content | add_mentions }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
        <div class="column is-one-third">
            <div class="box block">
                <div class="header pb-0 p-4 has-text-centered">
                    <figure class="avatar image mb-3 is-128x128">
                        <img class="is-rounded" src="{{ user.profile_pic }}">
                    </figure>
                    <h1 class="is-size-4"><a href="/profile/{{user.username}}">{{user.name}}</a></h1>
                    <p>{{user.designation}} @ {{user.team_name}}</p>
                </div>
                <hr>
                <div class="block summary pt-0 p-4 is-flex is-justify-content-space-around">
                    <div class="is-flex is-flex-direction-column is-align-items-center">
                        <span class="given-count has-text-weight-bold is-size-4">{{ appreciations_given }}</span>
                        <span class="is-uppercase">Given</span>
                    </div>
                    <div class="is-flex is-flex-direction-column is-align-items-center">
                        <span class="received-count has-text-weight-bold is-size-4">{{ appreciations_received }}</span>
                        <span class="is-uppercase">Received</span>
                    </div>
                </div>
            </div>
            <nav class="panel is-primary block">
                <p class="panel-heading has-text-centered">
                    Most appreciated
                </p>
                {% for entry in most_appreciated %}
                <a href="/profile/{{entry.user.username}}" class="panel-block p-3 is-active is-align-items-center">
                    <figure class="image is-24x24 mr-1">
                        <img class="is-rounded" src="{{entry.user.profile_pic}}">
                    </figure>
                    <span>{{entry.user.name}}</span>
                    <span class="is-flex-grow-1"></span>
                    <span class="has-text-weight-bold">{{entry.count}}</span>
                </a>
                {% endfor %}
            </nav>
        </div>
    </div>
</div>

{% endblock %}

