<!DOCTYPE html>
<html>
<head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/bulma@0.9.1/css/bulma.css" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" media="screen">
</head>
<body>

<div class="box has-text-centered">
    <h1 class="title">Snowflake</h1>
    <p>
        <a href="/login" class="button is-light is-large">Sign in with Google</a>
    </p>
</div>

</body>
</html>
