{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}
{% block page %}login centered{% endblock %}

{% block content %}

<div class="box has-text-centered p-6">
    <p class="is-size-1 mb-4 has-text-primary">
        <ion-icon name="snow-outline"></ion-icon>
    </p>
    <h1 class="title">Welcome to Snowflake!</h1>
    <p class="subtitle block my-4">You can sign in with SSO, using your work email address</p>
    <p class="field mt-6">
        <a href="/login" class="button is-light is-large">
        <span class="icon is-large">
          <ion-icon size="large" name="logo-google"></ion-icon>
        </span>
            <span>
          Sign in with Google
        </span>
        </a>
    </p>
</div>

{% endblock %}


