<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Snowflake</title>
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
</head>

<body class="login centered">
  <div class="box has-text-centered p-6">
    <h1 class="title">Welcome to Snowflake</h1>
    <p class="field">
      <a href="/login" class="button is-light is-large">Sign in with Google</a>
    </p>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/main.js') }}"></script>
</body>

</html>
