@charset "utf-8";

@import "~bulma/sass/utilities/initial-variables";

$orange: #e96125;
$primary: $orange;
$link: $orange;

@import "~bulma/bulma";

html, body, #root, .viewport {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  min-height: 100%;
  background: #f6f7f8;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag.is-small {
  font-size: .5rem;
}

.m-auto {
  margin: auto;
}

.clear-button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.post-action-button {
  ion-icon {
    font-size: 1.25rem;
    pointer-events: none;
  }
}

.participants-avatar:not(:first-child) {
  margin-left: -1rem;
}
